{% extends "layout.html" %}
{% block title -%}
    Signup
{%- endblock %}
{% block content %}
    <section class="siimple-content siimple-content--extra-small">
        <div class="siimple--py-5 util-text-center">
            <h1>Sign up for Adjustable Invoices</h1>
            <p>Invoice adjustment has never been easier</p>
        </div>
        <form class="siimple-form" method="POST" action="{{ url_for('home.signup') }}">
            <div class="siimple-field">
                <label class="siimple-field-label" for="email">Email</label>
                <input class="siimple-input siimple-input--fluid" type="email" id="email" name="email" placeholder="email@example.com">
            </div>
            <div class="siimple-field">
                <label class="siimple-field-label" for="password">Password</label>
                <input class="siimple-input siimple-input--fluid" type="password" id="password" name="password" placeholder="password">
            </div>
            <button class="siimple-btn siimple-btn--primary siimple-btn--fluid siimple--text-bold">Sign up</button>
        </form>
        <div class="siimple-card util-text-center" align="center">
            <div class="siimple-card-body">
                <p>Already a member? <a href="{{ url_for('home.index') }}" class="siimple-link">Sign in</a></p>
            </div>
        </div>
    </section>
    {% include "home/_upsell.html" %}
{% endblock %}
