{% extends "layout.html" %}
{% block title -%}
    Invoices
{%- endblock %}
{% block content %}
    <section class="siimple-content siimple-content--extra-large">
        <div class="siimple-grid">
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--9">
                    <h1>Available Line Items</h1>
                    <p>Showing {{ line_items | length }} possible results.</p>
                </div>
                <div class="siimple-grid-col siimple-grid-col--3">
                    <div class="siimple-card siimple--display-inline-block">
                            <div class="siimple-card-header">Finish Editing</div>
                            <div class="siimple-card-body">
                                <div class="siimple-paragraph siimple--text-justify">
                                    Don't have any more line items to add?
                                </div>
                                <a href="{{ url_for('invoices.edit_invoice', invoice_id=invoice_id) }}" class="siimple-btn siimple-btn--fluid siimple-btn--primary">All Done!</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
        <table class="siimple-table siimple-table--border siimple-table--striped">
            <thead class="siimple-table-header">
                <tr class="siimple-table-row">
                    <th class="siimple-table-cell">Campaign ID</th>
                    <th class="siimple-table-cell">Campaign Name</th>
                    <th class="siimple-table-cell">Line Item Name</th>
                    <th class="siimple-table-cell">Booked Amount</th>
                    <th class="siimple-table-cell">Actual Amount</th>
                    <th class="siimple-table-cell">Adjustments</th>
                    <th class="siimple-table-cell">Actions</th>
                </tr>
            </thead>
            <tbody class="siimple-table-body">
                {% for line_item in line_items %}
                    <tr class="siimple-table-row">
                        <td class="siimple-table-cell">{{ line_item.campaign_id }}</td>
                        <td class="siimple-table-cell">{{ line_item.campaign_name }}</td>
                        <td class="siimple-table-cell">{{ line_item.line_item_name }}</td>
                        <td class="siimple-table-cell">{{ line_item.booked_amount | as_currency }}</td>
                        <td class="siimple-table-cell">{{ line_item.actual_amount | as_currency }}</td>
                        <td class="siimple-table-cell">{{ line_item.adjustments | as_currency }}</td>
                        <td class="siimple-table-cell">
                            <form class="siimple-form" action="{{ url_for('invoices.add_line_item_to_invoice', invoice_id=invoice_id, page=page) }}", method="post">
                                <input type="hidden" name="line_item_id" value="{{ line_item.id }}">
                                <button class="siimple-btn siimple-btn--fluid siimple-btn--primary">Add</button>
                            </form>
                            <a href="{{ url_for('invoices.edit_line_item', line_item_id=line_item.id) }}" class="siimple-btn siimple-btn--success">Edit or Comment</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if page > 1 %}
            <a href="{{ url_for('invoices.add_line_items', invoice_id=invoice_id, page=(page - 1)) }}">Previous Page</a> |
        {% endif %}
        Current Page: {{ page }} | <a href="{{ url_for('invoices.add_line_items', invoice_id=invoice_id, page=(page + 1)) }}">Next Page</a>
    </section>
{% endblock %}
