{% extends "layout.html" %}
{% block title -%}
    Invoices
{%- endblock %}
{% block content %}
    <section class="siimple-content siimple-content--extra-large">
        <div class="siimple-grid">
            <div class="siimple-grid-row">
                <div class="siimple-grid-col siimple-grid-col--3">
                    <div class="siimple-card siimple--display-inline-block">
                            <div class="siimple-card-header">Add Line Items</div>
                            <div class="siimple-card-body">
                                <div class="siimple-paragraph siimple--text-justify">
                                    Adjust the total of this invoice by adding line items to it.
                                </div>
                                <a href="{{ url_for('invoices.add_line_items', invoice_id=invoice.id, page=1) }}" class="siimple-btn siimple-btn--fluid siimple-btn--primary">Add Line Item</a>
                            </div>
                        </div>
                </div>
                <div class="siimple-grid-col siimple-grid-col--9">
                    <h1>{{ invoice.name }}</h1>
                    <p>This invoice has {{ line_items | length }} line item{{ 's' if line_items | length != 1 }} associated with it</p>
                    <table class="siimple-table siimple-table--border siimple-table--striped">
                        <thead class="siimple-table-header">
                            <tr class="siimple-table-row">
                                <th class="siimple-table-cell">Campaign ID</th>
                                <th class="siimple-table-cell">Campaign Name</th>
                                <th class="siimple-table-cell">Line Item Name</th>
                                <th class="siimple-table-cell">Booked Amount</th>
                                <th class="siimple-table-cell">Actual Amount</th>
                                <th class="siimple-table-cell">Adjustments</th>
                            </tr>
                        </thead>
                        <tbody class="siimple-table-body">
                            {% for line_item in line_items %}
                                <tr class="siimple-table-row">
                                    <td class="siimple-table-cell">{{ line_item.campaign_id }}</td>
                                    <td class="siimple-table-cell">{{ line_item.campaign_name }}</td>
                                    <td class="siimple-table-cell">{{ line_item.line_item_name }}</td>
                                    <td class="siimple-table-cell">{{ line_item.booked_amount | as_currency }}</td>
                                    <td class="siimple-table-cell">{{ line_item.actual_amount | as_currency }}</td>
                                    <td class="siimple-table-cell">{{ line_item.adjustments | as_currency }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot class="siimple-table-header">
                            <tr class="siimple-table-row">
                                <th class="siimple-table-cell" colspan="3">Totals</td>
                                <td class="siimple-table-cell">{{ line_items | sum(attribute='booked_amount') | as_currency }}</td>
                                <td class="siimple-table-cell">{{ line_items | sum(attribute='actual_amount') | as_currency }}</td>
                                <td class="siimple-table-cell">{{ line_items | sum(attribute='adjustments') | as_currency }}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
