<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %} | Adjustable Invoice App</title>
        <link rel="shortcut icon" href="{{ 'favicon.png' | image_url }}">
        {% assets "styles" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}">
        {% endassets %}
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li>
                        <a href="{{ url_for('home.index') }}">Home</a>
                    </li>
                    <li>
                        <a href="{{ url_for('invoices.index') }}">Invoices</a>
                    </li>
                </ul>
            </nav>
        </header>

        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            Copyright &copy; {{ helpers.now().year }} <a href="https://www.cjmil.com" target="_blank">Colin Miller</a>
        </footer>

        {% assets "js" %}
            <script src="{{ ASSET_URL }}" defer async></script>
        {% endassets %}
    </body>
</html>
