<div class="siimple-rule"></div>
<section class="siimple-content">
    <div class="siimple--py-3 siimple--px-3 util-text-center">
        <h1>Why Adjustable Invoices?</h1>
        <p>This is the part of the page where we tell you how great our product is! It's strategically placed slightly above the fold on both mobile and desktop screens so that the message of how great we are is in reinforced. If you haven't made up your mind yet to sign up with us, we'll also use this place to show off some testimonials and a bunch of impressive logos from other companies that work with us.</p>
    </div>
</section>
